.category-search{
    width:25.2%;
    float:left;
    border-right:1px solid #e0e6ed;
    padding:10px 15px;
    line-height:normal;
    background:0 0;
    border:0;
    padding:0;
    color:#757886;
    font-size:12px;
    font-weight:700;
    line-height:14px;
    text-align:left;
    margin-top: 20px;
    margin-left: 40px;
    margin-right:10px;
    position:relative;
    top:2px;
    transition:all 0.3s ease-in-out;
    color:#008ccf;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.footer-menu-top li a{
    color:white;
    font-weight:700;
    line-height:17px;
    display:block;
    margin-top: 10px;
}

i {
    color: white;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 270px; /* Set the width of the sidebar */
  position:relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index:; /* Stay on top */
  top: 5; /* Stay at the top */
  left: 0;
  background-color:red ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 18px;}
  .sidenav a {font-size: 12px;}
}
.fa,.fas{
    font-weight:900;

}
.col-xs-3{
    width:25%
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,.col-xs-7, .col-xs-8, .col-xs-9{

    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,, .col-xs-7, .col-xs-8, .col-xs-9{

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-6 {
margin-top: 10px;
}